language: cpp

addons:
    apt:
        packages:
            - bsdtar
            - libdbus-1-dev
            - autoconf-archive
            - libglib2.0-dev
            - libboost-dev
            - libboost-signals-dev
            - libboost-system-dev
            - libboost-chrono-dev
            - libreadline-dev
            - libtool
            - autoconf-archive

sudo: required

os:
    - linux
    - osx

compiler:
    - gcc
    - clang

before_install:
    - .travis/before_install.sh

before_script:
    - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
          sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6';
      fi

script:
    - .travis/script.sh

after_success:
    - ssh-agent .travis/after_success.sh

env:
    - BUILD_MAKEPATH=build BUILD_MAKEARGS="distcheck" TAR=bsdtar
    - BUILD_MAKEPATH=build BUILD_MAKEARGS="distcheck" TAR=bsdtar BUILD_CONFIGFLAGS=--with-boost=internal
    - BUILD_MAKEPATH=build BUILD_MAKEARGS="distcheck" TAR=bsdtar BUILD_CONFIGFLAGS=--with-boost=internal --enable-append-network-time-received-timestamp

matrix:
    allow_failures:
        - os: osx # See issue #245: "Travis macOS builds are failing"
    exclude:
        - os: osx
          compiler: gcc
    include:
        - env: BUILD_TARGET="toranj-test-framework" VERBOSE=1
          os: linux
          compiler: gcc
        - env: BUILD_TARGET="android-build" VERBOSE=1
          os: linux
          dist: trusty
